.img-1 {
    transform: rotate(-5deg) translate(0, 0);
    z-index: 4;
}

.img-2 {
    transform: rotate(3deg) translate(20px, 20px);
    z-index: 3;
}

.img-3 {
    transform: rotate(-3deg) translate(40px, 40px);
    z-index: 2;
}

.img-4 {
    transform: rotate(5deg) translate(60px, 60px);
    z-index: 1;
}

#card-1 {background-color: plum;}
#card-2 {background-color: bisque;}
#card-3 {background-color: wheat;}
.card-cd {
    border-radius: 18px;
    padding: 18px;
    display: flex;
}

.card {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.c {
    background-color: lightgreen;
}