#lead-text-container {
    animation: slide-screen-color 8s infinite alternate;
    border-radius: 50%;
}

#lead-text-3 {
    font-weight: 700;
    text-wrap: wrap;
    font-style: normal;
    color: gold;
    max-width: 500px;
}

#lead-text-1 {
    font-size: 115px;
}

@media screen and (max-width: 800px) {
    #lead-text-1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 450px) {
    #lead-text-container {
        animation: slide-color 5s infinite alternate;
        border-radius: 0;
    }
    #lead-text-1 {
        font-size: 60px;
    }
}

@keyframes slide-screen-color {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
        background-color: rgb(217, 217, 243);
    }
    50% {
        border-radius: 48% 52% 76% 24% / 43% 83% 17% 57%;
    }
    75% {
        border-radius: 75% 25% 71% 29% / 34% 60% 40% 66%;
    }
    100% {
        border-radius: 32% 68% 23% 77% / 70% 42% 58% 30%;
        background-color: rgb(224, 214, 194);
    }
}

@keyframes slide-color {
    from {
        background-color: rgb(217, 217, 243);
    }
    to {
        background-color: rgb(224, 214, 194);
    }
}

.live-indicator {
    animation: live-indication 3s infinite;
    transition: padding 0.8s;
}

@keyframes live-indication {
    0% {
        background-color: red;
    }
    50% {
        background-color: rgba(185, 6, 6, 0.719);
    }
}

.header-p {
    font-weight: 700;
    font-size: 1.5rem;
}

#lead-text-container {
    transition: all 0.3s;
}

.font-animation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 18px;
}

.font-animation > li {
    font-size: larger;
    padding: 32px 18px;
    margin: 8px;
    transition: display 0.3s;
    animation: expand 0.8s;
    display: none;
    scale: 1.03;
    text-wrap: wrap;
}

@keyframes expand {
    0% {
        scale: 0.8;
        opacity: 0;
    }
    50% {
        opacity: 1;
        scale: 1.03;
    }
    100% {
        opacity: 1;
        scale: 1.03;
    }
}

#events, #blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.slide-from-left-card {animation: slide-from-left 1s linear;}
.slide-from-right-card {animation: slide-from-right 1s linear;}
.slide-from-bottom-card {animation: slide-from-bottom 1s linear;}

.slide-from-bottom-card, .slide-from-left-card, .slide-from-right-card {
    animation-timeline: view();
    animation-range: -30% 30%;
    animation-iteration-count: 1;
}

.float-card {
    animation: float 1s linear infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(1%);
    }
}

@keyframes slide-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-from-left {
    0% {
        opacity: 0;
        scale: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        scale: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

@keyframes card-slide {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    overflow: clip;
}

.blog-card {
    border-radius: 10px;
    max-height: 350px;
    overflow: hidden;
}

.blog-card p {
    max-lines: 1;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.blog-card .container {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    transition: background-color 0.3s;
    color: white;
    background-color: rgba(85, 84, 84, 0.699);
}

.blog-card img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 350px;
    transition: scale 0.3s;
}

.blog-card:hover img {
    scale: 1.03;
}

.blog-card:hover .container {
    background-color: black;
}

.event-card {
    border-radius: 10px;
    max-height: 450px;
    overflow: hidden;
    padding: 0;
}

.event-card img {
    border-radius: 10px 10px 20px 20px;
    object-fit: cover;
    height: 350px;
    width: 100%;
    max-height: 350px;
}

.event-card p {
    max-lines: 1;
    overflow: hidden;
    font-weight: 800;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.event-card .text-container {
    padding: 20px 20px;
    margin: 0;
}

@media screen and (max-width: 450px) {
    .font-animation {
        font-size: small;
    }
    .font-animation-holder {
        height: 200px;
        justify-content: center;
    }
    .slide-from-bottom-card {
        margin: 0;
        padding: 0;
        animation-range: 0% 30%;
    }
}