footer {
    background-color: white;
    width: 100%;
    font-weight: 700;
    color: black;
    justify-content: center;
    opacity: 0.8;
    margin-top: 100px;
    padding: 18px 8px;
}

footer > div {
    padding: 28px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dev-logo {
    width: 100px;
    margin-bottom: 28px;
}

footer li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media-link {
    background-color: white;
    text-decoration: none;
    font-size: 32px;
}

.social-media-link, .social-media-link:visited, .social-media-link:active {
    color: rgb(0, 51, 128);
}

@media screen and (max-width: 768px) {
    footer {
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 8px;
    }

    footer > div {
        padding: 8px;
    }

    .social-media-link {
        padding: 0;
        font-size: 22px;
    }
    
}